<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1" ng-if="auction.syncData.currentAuction.id">
            <h2 class="row">Auction</h2>
            <div class="row panel panel-default">
                <div class="col-xs-12 panel-body">
                    <div class="row h3">
                        <div class="col-xs-11 col-xs-offset-1">
                            Seller Name: <span ng-bind="auction.syncData.currentAuction.user.userName"></span>
                            <hr>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-xs-11 col-xs-offset-1">
                            <div class="panel-more1">
                                <img ng-src={{auction.syncData.currentAuction.item.image}}/>
                                <br/><span class="h4 text-primary" ng-bind="auction.syncData.currentAuction.item.name"></span>
                            </div>
                            <div class="panel-info">
                                <p class="h5 text-primary"><strong
                                            ng-bind="'Quantity ' + auction.syncData.currentAuction.quantity"></strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row h5 text-default">
                        <div class="col-xs-11 col-xs-offset-1" ng-if="auction.timeRemaining" ng-bind="'Time Left: ' + auction.timeRemaining + 'Seconds'"></div>
                    </div>
                    <div class="row h5 text-default">
                        <div class="col-xs-11 col-xs-offset-1" ng-if="!auction.syncData.currentAuctionBid.value"
                             ng-bind="'Minimum bid ' + auction.syncData.currentAuction.minBid"></div>
                        <div class="col-xs-11 col-xs-offset-1" ng-if="auction.syncData.currentAuctionBid.value > 0"
                             ng-bind="'Winning bid ' + auction.syncData.currentAuctionBid.value"></div>
                    </div>
                    <hr ng-if="auction.syncData.currentUser.id !== auction.syncData.currentAuction.userId">
                    <form name="placeBidForm" ng-if="auction.syncData.currentUser.id !== auction.syncData.currentAuction.userId" ng-submit="auction.clearServerError();auction.placeBid(placeBidForm)" class="row">
                        <div class="col-xs-4 col-xs-offset-1 p-left-5">
                            <p ng-if="auction.serverError.internalError" class="text-danger row">Some Error
                                Occurred</p>
                            <p ng-if="auction.serverError.activeAuctionPresent" class="text-danger row">Active
                                Auction Exists</p>
                            <div ng-class="{ 'has-error': placeBidForm.bidValue.$invalid && placeBidForm.$submitted, 'disabled': auction.syncData.currentUser.coins< auction.minimumBidValue}"
                                 class="row form-group">
                                <label for="username" class="text-normal">Minimum Bid</label>
                                <input type="number" id="username" placeholder="Place Bid"
                                        ng-disabled="auction.syncData.currentUser.coins< auction.minimumBidValue"
                                       ng-model="auction.formData.bidValue" name="bidVal" ng-pattern="/^\d*$/"
                                       ng-keyup="auction.clearServerError()"
                                       required="required" tabindex="6"
                                       min="{{auction.minimumBidValue}}"
                                       class="form-control input-sm text-base"/>
                                <div ng-messages="placeBidForm.bidValue.$error"
                                     ng-if="placeBidForm.$submitted && placeBidForm.bidValue.$invalid"
                                     class="help-block text-base">
                                    <p ng-message="required"><i
                                                class="fa fa-exclamation-circle"></i><span>&nbsp;This field is required</span>
                                    </p>
                                    <p ng-message="pattern"><i
                                                class="fa fa-exclamation-circle"></i><span>&nbsp;Please enter a valid value</span>
                                    </p>
                                    <p ng-message="min"><i
                                                class="fa fa-exclamation-circle"></i><span>&nbsp;Value Should be more than Winning Bid</span>
                                    </p>
                                    <p ng-message="max"><i
                                                class="fa fa-exclamation-circle"></i><span>&nbsp;Value Should be less than your coins available</span>
                                    </p>
                                </div>
                            </div>
                            <div class="row h5 text-default">
                                <div class="col-xs-8 col-xs-offset-2">
                                    <button class="btn btn-warning" type="submit" ng-disabled="auction.syncData.currentUser.coins< auction.minimumBidValue">Place Bid</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1" ng-if="!auction.syncData.currentAuction.id">
            <h4>No Active Auction</h4>
        </div>
    </div>
</div>
