<div class="row">
    <div class="col-xs-11 col-xs-offset-1">
        <div class="row panel panel-default panel-body" ng-if="userItem.quantity" ng-repeat="userItem in inventory.currentUserItems">
            <div class="panel-more1 col-xs-5">
                <img ng-src="{{userItem.item.image}}"/>
                <br/><span ng-bind="userItem.item.name"></span>
            </div>
            <div class="panel-info col-xs-4">
                <p><strong ng-bind="'Quantity ' + userItem.quantity"></strong></p>
            </div>
            <div class="panel-rating col-xs-3">
                <button class="btn btn-warning" ng-click="inventory.startAuction(userItem)">Auction</button>
            </div>

        </div>
    </div>
</div>
