<%- contentFor('title') %>
| Page Not Found

<%- contentFor('header') %>
<%- contentFor('footer') %>

<%- contentFor('body') %>
<div class="content error-page-wrap">
	<div class="container">
		<a href="/" class="logo-colored">
			<img src="<%= asset('assets/images/workstyle_logo_colored.png') %>">
		</a>
		<h2>404</h2>
		<p>Oops, something in our <br>brain went wrong:(</p>
		<span>Please try again:)</span>
	</div>
</div>
