<%- contentFor('script') %>
<script type="text/javascript">
    $(document).ready(function () {
        (new CommonModule()).init();
    });
</script>
<%- contentFor('title') %>
| Internal Server Error

<%- contentFor('header') %>
<%- contentFor('footer') %>

<%- contentFor('body') %>
<div class="content error-page-wrap">
	<div>
		<a href="/" class="logo-colored">
			Auction House
		</a>
		<h2>500 internal servor error</h2>
		<p>Oops, looks like a neuron misfired.</p>
        <% if (typeof _message !== "undefined" && typeof _error !== "undefined") { %>
            <p><%- _message %></p>
            <p><%- _error %></p>
        <% } %>
		<span>Please try again:)</span>
	</div>
</div>
