<footer>
    <div class="container">
        <!--<ul class="footer-links">-->
            <!--<li><a href="/" class="footer-link">Terms of Service</a></li>-->
            <!--<li><a href="/" class="footer-link">Privacy Policy</a></li>-->
            <!--<li><a href="/" class="footer-link">Help</a></li>-->
            <!--<li><a target="_blank" href="http://www.mattersight.com/about-us/patents/" class="footer-link">Patents</a></li>-->
        <!--</ul>-->
        <!--<a class="footer-logo" href="/">-->
            <!--<img src="<%= asset('assets/images/footer_logo.png') %>">-->
        <!--</a>-->
    </div>
</footer>
