<div class="container">
    <a class="logo-wrap" href="/"><h2>Auction House</h2></a>
    <span class="pull-right badge p-left-5 p-right-5 text-primary bg-muted" ng-if="header.currentUser.coins"
          ng-bind="header.currentUser.coins + ' coins'"></span>
    <span class="pull-right text-muted" ng-bind="header.currentUser.userName"></span>
</div>
