// Essential imports
@import "bootstrap/mixins.less";
@import "bootstrap/variables.less";


// Custom Margins

.m-top-5 {
  margin-top: 5px !important;
}

.m-bottom-5 {
  margin-bottom: 5px !important;
}

.m-left-5 {
  margin-left: 5px !important;
}

.m-right-5 {
  margin-right: 5px !important;
}

.m-y-axis-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m-x-axis-5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

// Custom Paddings

.p-top-5 {
  padding-top: 5px !important;
}

.p-bottom-5 {
  padding-bottom: 5px !important;
}

.p-left-5 {
  padding-left: 5px !important;
}

.p-right-5 {
  padding-right: 5px !important;
}

.p-y-axis-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.p-x-axis-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.panel-info, .panel-rating, .panel-more1 {
    float: left;
    margin: 0 10px;
}
