<!DOCTYPE html>
<!--[if IE 9 ]>
<html class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html ng-app="AuctionHouseApp"> <!--<![endif]-->
<head>
    <% if (typeof locals.baseUrl !== 'undefined') { %>
        <base href="<%- locals.baseUrl %>">
    <% } %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="width=1200" name='viewport'/>

    <meta name="application-name" content="Auction House">
    <meta name="msapplication-TileColor" content="#FFFFFF">

    <link rel="stylesheet" href="<%= asset('/static/css/style.css') %>">

    <title>Auction House
        <% if (typeof locals.title !== 'undefined') { %>
            <%- locals.title %>
        <% } %>
    </title>
</head>
<body>
<%- body %>
    <script type="text/javascript" src="<%= asset('/static/js/application.js') %>"></script>
    <% if (typeof script !== 'undefined') { %>
        <%- script %>
    <% } %>
    <!-- Google Analytics integration script -->
</body>
</html>
