<ah-header></ah-header>
<div class="row">
    <div class="col-xs-4">
        <% //<div ui-view="inventory"></div>%>
        <inventory></inventory>
    </div>
    <div class="col-xs-8">
        <% //<div ui-view="auction"></div>%>
        <auction></auction>
    </div>
</div>
