<div class="container">
    <div style="margin-top:50px;" class="mainbox col-xs-8 col-xs-offset-4">
        <div class="panel panel-info row">
            <div class="panel-heading col-xs-12">
                <div class="panel-title">Sign In Or Sign Up</div>
            </div>

            <div style="padding-top:30px" class="panel-body col-xs-10 col-xs-offset-2">
                <div class="row">
                    <form name="loginOrRegisterForm", ng-submit="loginOrRegisterForm.userName.$setValidity('internalError', true);loginOrRegisterFormCtrl.submitForm(loginOrRegisterForm)", class="form-horizontal col-xs-10" role="form" novalidate>

                        <div ng-class="{ 'has-error' : loginOrRegisterForm.userName.$invalid && loginOrRegisterForm.$submitted}"
                             class="row form-group">
                            <label for="username" class="text-normal">Username</label>
                            <input type="text" id="username" placeholder="Enter User Name"
                                   ng-model="loginOrRegisterFormCtrl.formData.userName" name="userName" ng-pattern="/^[a-zA-Z_]*$/" required="require" tabindex="6"
                                   ng-keyup="loginOrRegisterForm.userName.$setValidity('internalError', true);"
                                   class="form-control input-sm text-base"/>
                            <div ng-messages="loginOrRegisterForm.userName.$error"
                                 ng-if="loginOrRegisterForm.$submitted && loginOrRegisterForm.userName.$invalid"
                                 class="help-block text-base">
                                <p ng-message="required"><i class="fa fa-exclamation-circle"></i><span>&nbsp;This field is required.</span></p>
                                <p ng-message="pattern"><i class="fa fa-exclamation-circle"></i><span>&nbsp;Please enter a valid value.</span></p>
                                <p ng-message="internalError"><i class="fa fa-exclamation-circle"></i><span>&nbsp;Some error occurred. Please try again later.</span></p>
                            </div>
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->

                            <div class="col-sm-12 controls">
                                <button id="btn-login" class="btn btn-success">Sign In Or Sign Up</button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
