<div modal-render="{{$isRendered}}" tabindex="-1" role="dialog" uib-modal-animation-class="fade" modal-in-class="in" ng-style="{'z-index': 1050 + index*10, display: 'block'}" class="modal">
  <div role="document" class="modal-dialog modal-md">
    <div uib-modal-transclude="uib-modal-transclude" class="modal-content m-top-lg"></div>
  </div>
</div>
