<% // Modal Header   %>
<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">
        Start Auction For&nbsp;
        <span ng-bind="startAuctionCtrl.userItem.item.name"></span>
    </h4>
</div>

<% // Modal Body   %>
<div class="modal-body">
    <div class="row">
        <form name="startAuctionForm" ng-submit="startAuctionCtrl.clearServerError();startAuctionCtrl.submitForm(startAuctionForm)"
              class="form-horizontal col-xs-8 col-xs-offset-2" role="form">
            <p ng-if="startAuctionCtrl.serverError.internalError" class="text-danger row">Some Error Occurred</p>
            <p ng-if="startAuctionCtrl.serverError.noActiveAuction" class="text-danger row">Active Auction Exists</p>
            <div ng-class="{ 'has-error' : startAuctionForm.quantity.$invalid && startAuctionForm.$submitted}"
                 class="row form-group">
                <label for="username" class="text-normal">Quantity</label>
                <input type="number" id="username" placeholder="Enter Quantity"
                       ng-model="startAuctionCtrl.formData.quantity" name="quantity" ng-pattern="/^\d*$/"
                       ng-keyup="startAuctionCtrl.clearServerError()"
                       min="1"
                       max="{{startAuctionCtrl.userItem.quantity}}"
                       required="required" tabindex="6"
                       class="form-control input-sm text-base"/>
                <div ng-messages="startAuctionForm.quantity.$error"
                     ng-if="startAuctionForm.$submitted && startAuctionForm.quantity.$invalid"
                     class="help-block text-base">
                    <p ng-message="required"><i
                                class="fa fa-exclamation-circle"></i><span>&nbsp;This field is required.</span></p>
                    <p ng-message="pattern"><i
                                class="fa fa-exclamation-circle"></i><span>&nbsp;Please enter a valid value.</span></p>
                    <p ng-message="min"><i
                                class="fa fa-exclamation-circle"></i><span>&nbsp;Value Should be more than 0.</span></p>
                    <p ng-message="max"><i
                                class="fa fa-exclamation-circle"></i><span>&nbsp;Value Should be less than quantity of item</span></p>
                </div>
            </div>

            <div ng-class="{ 'has-error' : startAuctionForm.minBid.$invalid && startAuctionForm.$submitted}"
                 class="row form-group">
                <label for="username" class="text-normal">Minimum Bid</label>
                <input type="number" id="username" placeholder="Enter Minimum Bid"
                       ng-model="startAuctionCtrl.formData.minBid" name="minBid" ng-pattern="/^\d*$/"
                       ng-keyup="startAuctionCtrl.clearServerError()"
                       required="required" tabindex="6"
                       min="0"
                       class="form-control input-sm text-base"/>
                <div ng-messages="startAuctionForm.minBid.$error"
                     ng-if="startAuctionForm.$submitted && startAuctionForm.minBid.$invalid"
                     class="help-block text-base">
                    <p ng-message="required"><i
                                class="fa fa-exclamation-circle"></i><span>&nbsp;This field is required</span></p>
                    <p ng-message="pattern"><i
                                class="fa fa-exclamation-circle"></i><span>&nbsp;Please enter a valid value</span></p>
                    <p ng-message="min"><i
                                class="fa fa-exclamation-circle"></i><span>&nbsp;Value Should be more than 0</span></p>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="startAuctionCtrl.dismiss()"
            data-dismiss="modal">
        Cancel
    </button>
    <button type="button" class="btn btn-primary" ng-click="startAuctionCtrl.submitForm(startAuctionForm)">
        Start Auction
    </button>
</div>
